.heading{
    color: #FFF;
    font-size: 36px;
  }
  
  .user{
    width: 62px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .FaUser{
    font-size: 28px;
    line-height: 28px;
  }
  